<section class="about-section grid">
  <div>
    <h2 class="about-section__title col-12">Objetivos</h2>
    <div class="about-section__function1 functions col-12">
      <ng-lottie width="85%" [styles]="styles" [options]="messageOptions">
      </ng-lottie>
      <p class="functions__paragraph">
        Desenvolver Soluções para a automação agroindustrial.
      </p>
    </div>
    <div class="about-section__function2 functions col-12">
      <p class="functions__paragraph">
        Simplificar a administração dos processos executados em uma agroindustria.
      </p>
      <ng-lottie width="85%" [styles]="styles" [options]="dataOptions">
      </ng-lottie>
    </div>
  </div>
</section>
