<footer class="footer grid">
  <div class="footer__media col-4">
    <img class="footer__media--image-logo" src="./../../../assets/images/LogoEdetecCompleta.png" alt="Logo"/>

  </div>
  <div class="col-4">
    <h4>Redes Sociais</h4>
    <br>
    <ul class="social">
      <li><a href="https://www.instagram.com/ede.tec/" class="pi pi-instagram icon"></a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100054337458665" class="pi pi-facebook icon"></a></li>
    </ul>
  </div>
  <br>
  <div class="col-4">
    <ul>
      <li><a class="header__right-side--anchor col-1" href="/obras">Obras</a></li>
      <li><a class="header__right-side--anchor col-1" href="/obras">Contatos</a></li>
    </ul>
  </div>
</footer>
