<div class="menu grid">
  <div class="logo col-8">
    <a href="/inicio"><img src="./../../../assets/images/LogoEdetecCompleta.png" height="40" class=""></a>
  </div>
  <p-menubar [model]="items">
    <ng-template pTemplate="start" class="grid">
      <a href="https://www.instagram.com/ede.tec/" class="pi pi-instagram icon"></a>
      <a href="https://www.facebook.com/profile.php?id=100054337458665" class="pi pi-facebook icon"></a>
      <br>
    </ng-template>
    <ng-template pTemplate="end" class="grid">
    </ng-template>
  </p-menubar>
</div>
