nav{
  background-color: #d4d4d4;
}
a{
  color: #495057;
}
.icon{
  border: 1px #495057 solid;
  border-radius: 100%;
  padding: 6px;
  margin: 3px;
}
.social{
  display: flex;
  align-content: center;

}

.menu{
  background-color: #f8f9fa;
  margin-top: 1px;
  border-radius: 3px;
}

