<section class="presentation-section grid">
  <div class="presentation-section__title-group col-12">
    <h2 class="presentation-section__title-group--main-title">EDETEC</h2>
    <h2 class="presentation-section__title-group--main-title">Sistemas elétricos</h2>
    <button class="presentation-section__title-group--btn" (click)="showModal()">
      Quem Somos
    </button>
  </div>
  <figure class="col-12">
    <img class="presentation-section__background" src="./../../../assets/images/painelComandoFundo Site.jpg"
      alt="Imagem de fundo da página com Quadro de comando" />
  </figure>
</section>
