<section class="grid">
  <div class="contacts-content col-12 md:col-6 lg:col-6">
    <p-panel header="Contatos">
      <div class="col-12">
        <h4>Fone:</h4>
        <br>
        <ul>
          <li>
            <p class="pi pi-phone"></p> (46) 3224-7491
          </li>
          <li>
            <p class="pi pi-mobile"></p> (46) 9 9106-4659
          </li>
        </ul>
      </div>
      <br>
      <div class="col-12">
        <h4>
          <p class="pi pi-envelope"></p> E-mail
        </h4>
        <br>
        <ul>
          <li>Comercial e Financeiro</li>
          <P>silvane@edetec.com.br</P>
          <br>
          <li>Suporte Técnico</li>
          <P>ederli@edetec.com.br</P>
        </ul>
      </div>
    </p-panel>
  </div>
  <div class="col-12 md:col-6 lg:col-6 contacts-content">
    <p-panel header="Localização">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3579.950929871963!2d-52.69511314948156!3d-26.198274483359178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94e553486ec355c7%3A0xf9aea4d7dc65f91b!2sEDETEC%20SISTEMAS%20EL%C3%89TRICOS!5e0!3m2!1spt-BR!2sbr!4v1666226524893!5m2!1spt-BR!2sbr"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade" class="gmap"></iframe>
    </p-panel>
  </div>

</section>
