<section class="information-section grid">
  <div class="information-section__content col-12">
    <p class="information-section__content--title col-12">
      A Edetec sistemas elétricos é uma empresa voltada para o desenvolvimento de soluções inovadoras para instalação
      eletrica e automação do setor agroindustrial. A edetec se preocupa com a excelência tecnológica, qualidade de seus
      produtos em total comprometimento com o cliente.
      Fundada em 2009, a EDETEC busca desenvolver constantemente novas tecnologias, ferramentas e equipamentos para o
      setor de armazenagem e processamento de grãos, a fim de garantir a satisfação de seus clientes.
    </p>
  </div>
</section>
