$background: #ffffff;
$gray-color: #9b9b9b;

.feature-section {
  background-color: $background;
  text-align: center;
  padding-top: 3em;
  min-height: 100vh;
  display: flex;
}

.feature-section__content {
  display: flexbox;

  justify-content: center;
  gap: 4em;
  padding: auto;
  width: 80vw;
  margin-inline: auto;
}

img{
  width: 80%;
}
